doctype html
html
    head
        title= 'Fragments of the World'
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='module' src=scriptLink)
        script(src='https://kit.fontawesome.com/9f34627289.js')
    body
        header
            nav
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/worldview") Continents
                    li
                        a(href="/country") Country
                    li
                        a(href="/city") City
                    li
                        a(href="/lang") Language
                    li
                        a(href="/goverments") Form of goverment
        main
            block all
                h1= 'Fragments of the World'
                h2= subtitle
                p= "On this page you can read all information about world continents. You are able to create, read, update and delete continents from this list"
                    block content
